{% extends "layout.njk" %}

{% block content %}


<main class="wrapper">

  <body class="with-sidebar">

    <img src="/css/restau.png" alt="Restaurant logo image">


    <header class="container flow">
      <h1>Food reviews</h1>
    </header>
    <p>Write your own <a href="/newreview">review</a></p>

    <h1>{{ title }}</h1>


    <ul class="reviewlist">
      {% for dish in dishes %}
      <li><a href="/dishes/{{dish.id}}">{{ dish.name }}</a><a href="/dishes/{{ dish.id }}/delete">Remove review</a>
      </li>
      {% endfor %}

    </ul>
</main>
{% endblock %}