{% extends "layout.njk" %}

{% block content %}

<main class = "wrapper"> 
    <h1>Write a review</h1>

<form action="/newreview" method="post">
    <label for="dish">Dish</label>
    <input type="text" id="dish" name="dish" required>
    <label for="">Score (1-10)</label>
    <input type="text" id="score" name="score" required>
    <label for="">Description</label>
    <textarea
    name="description" 
    id="description"
    cols="30"
    rows="10"></textarea>

    <input type="submit" value="submit review"> </form>
 
</form>
</main>

{% endblock %}